* {
    margin: 0;
    padding: 0;
    font-family: 'kumbh-sans';
}
main {
    background-color:#19A1AE ;
    display: flex;
    position: relative;
    width: 100%;
    height: 720px;
    font-family: 'kumbh-sans';
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
}
.top {
    position: absolute;
    z-index: 1;
    top:0%;
    left: 0%; 
}
.bottom {
    position: absolute;
    z-index: 1;
    bottom: 0%;
    right: 0%;
}
.card {
    width: 350px;
    height: 374px;
    z-index: 2;
    border-radius: 15px;
    border: none;
    outline: none;
    gap: 10px;
    background-color: white;
    box-shadow: 0 50px 100px -20px #08465E40;
}
.profile {
    margin-top: -50px;
    justify-self: center;
}
.info {
    width: 133px;
    height: 49px;
    margin: 10px 108px 10px 108px;
}
.name {
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
    word-spacing: 1px;
    color: #2E3349;
}
.age {
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    word-spacing: 1px;
    color:#6B7082 ;
    margin-left: 8px;
}
.city {
    font-size: 14px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    word-spacing: 1px;
    color:#6B7082 ;
    margin-left: 38px;
}
.social-info {
    width: 350px;
    height: 69px;
    display: flex;
    justify-content:space-around;
}
.photos, .likes, .followers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.number {
    color: #2E3349;
    font-size: 18px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0px;
    word-spacing: 1px;
    height: 23px;
    margin-top: 15px;
}
.stat-label {
    font-size: 10px;
    font-weight: 400;
    line-height: 125%;
    letter-spacing: 0px;
    word-spacing: 1.5px;
    color:#6B7082 ;
    height: 13px;
    margin-top: 5px;
}
